<html>

<head>
    <title>alexa_skill_tester</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <body>
        <div class="container">
            <header>
                <div class="page-header">
                    <h1>
                        <img src="/image/alexalogo.jpg" class="float-left" alt="Paris" width="80" height="50"></img>Alexa skill tester</h1>
                </div>
            </header>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form>
                <div class="form-group">
                    <label for="ClientId">ClientId:</label>
                    <input type="text" class="form-control" id="ClientId" placeholder="Enter ClientId" name="ClientId">
                </div>
                <button href id="LoginWithAmazon" class="btn">
                    <img border="0" alt="Login with Amazon" src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                        width="156" height="32" />
                </button>
            </form>
            </div>
            <div id="amazon-root"></div>
        </div>
        <script type="text/javascript">
        var clientid="";
            $("#LoginWithAmazon").click(function(){
            clientid=$("#ClientId").val();
            amazon.Login.setClientId(clientid);
            });
            (function (d) {
                var a = d.createElement('script'); a.type = 'text/javascript';
                a.async = true; a.id = 'amazon-login-sdk';
                a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
                d.getElementById('amazon-root').appendChild(a);
            })(document);
            document.getElementById('LoginWithAmazon').onclick = function () {
                setTimeout(window.doLogin, 1);
                return false;
            };
            window.doLogin = function () {
                options = {};
                options.scope = 'profile';
                amazon.Login.authorize(options, function (response) {
                    if (response.error) {
                        alert('oauth error ' + response.error);
                        return;
                    }
                    alert('access_token : ' + response.access_token);
                    console.log(response.access_token);
                    amazon.Login.retrieveProfile(response.access_token, function (profileResponse) {
                        alert('Hello, ' + profileResponse.profile.Name);
                        alert('Your e-mail address is ' + profileResponse.profile.PrimaryEmail);
                        alert('Your unique ID is ' + profileResponse.profile.CustomerId);
                    });
                });
            };

        </script>
    </body>
</head>

</html>